metroapp/Service References/MyHealthCheckService/HealthMonitor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthMonitorWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthMonitorWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Items" nillable="true" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItems" nillable="true" type="tns:ArrayOfItems" />
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calories" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemsId" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Items" nillable="true" type="tns:Items" />
</xs:schema>