metroapp/Service References/MyHealthCheckService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9164/HealthMonitor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9164/HealthMonitor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9164/HealthMonitor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthMonitorWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHealthMonitor_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IHealthMonitor_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IHealthMonitor_GetItemsByItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsByItem" />
  </wsdl:message>
  <wsdl:message name="IHealthMonitor_GetItemsByItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsByItemResponse" />
  </wsdl:message>
  <wsdl:message name="IHealthMonitor_GetQuantityAndCalorieByItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantityAndCalorieByItem" />
  </wsdl:message>
  <wsdl:message name="IHealthMonitor_GetQuantityAndCalorieByItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuantityAndCalorieByItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IHealthMonitor">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IHealthMonitor/GetCategories" message="tns:IHealthMonitor_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHealthMonitor/GetCategoriesResponse" message="tns:IHealthMonitor_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsByItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IHealthMonitor/GetItemsByItem" message="tns:IHealthMonitor_GetItemsByItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHealthMonitor/GetItemsByItemResponse" message="tns:IHealthMonitor_GetItemsByItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuantityAndCalorieByItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IHealthMonitor/GetQuantityAndCalorieByItem" message="tns:IHealthMonitor_GetQuantityAndCalorieByItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHealthMonitor/GetQuantityAndCalorieByItemResponse" message="tns:IHealthMonitor_GetQuantityAndCalorieByItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHealthMonitor" type="tns:IHealthMonitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IHealthMonitor/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsByItem">
      <soap:operation soapAction="http://tempuri.org/IHealthMonitor/GetItemsByItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuantityAndCalorieByItem">
      <soap:operation soapAction="http://tempuri.org/IHealthMonitor/GetQuantityAndCalorieByItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IHealthMonitor" binding="tns:BasicHttpBinding_IHealthMonitor">
      <soap:address location="http://localhost:9164/HealthMonitor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>